MERCADOPAGO_ACCESS_TOKEN=
#o el local o el ngrok la url que te da pero sin la barra del final
FRONTEND_URL=http://localhost:5173

#bd
DATABASE_URL=mysql+pymysql://root:TU_PASSWORD@localhost:3306/tp4_db