MERCADOPAGO_ACCESS_TOKEN=
#o el local o el ngrok la url que te da pero sin la barra del final
NGROK_URL_BACKEND= https://wielder-stir-appetite.ngrok-free.dev

#que la url apunte al back osea al 8000

#bd
DATABASE_URL=mysql+pymysql://root:TU_PASSWORD@localhost:3306/tp4_db